@use '../../../../scss/abstracts/variables' as *;

.light {
    .article {
        background-color: hsl(44, 41%, 89%);
        color: hsl(270, 10%, 20%);
        &__container {
        
        }

        &__title {
            color: $pink-light;
        }

        &__box {
            
        }

        &__subtitle {
            
        }

        &__paragraph {
            
        }
    }
}
  
.dark {
    .article {
        background-color: hsl(270, 10%, 20%);
        color: $white;
        &__container {

        }

        &__title {
            color: $old-color-primary; 
        }

        &__box {
            
        }

        &__subtitle {
            
        }

        &__paragraph {
            
        }
    }
}

.article {
    min-height: 100vh;
    overflow: hidden;
    line-height: 1.4;
    &__container {
        position: relative;
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin-top: 5em;
        font-weight: 700;
        font-size: 2.4em;
    }

    &__box {
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 1.8em;
    }

    &__paragraph {
        margin-top: 1.5em
    }
}