@use '../../../scss/abstracts/variables' as *;
@import '../../../scss/abstracts/mixin';

.container {
  width: 75%;
  margin: 0 auto;
}



.light {
  .policy {
      background-color: hsl(44, 41%, 89%);
      color: hsl(270, 10%, 20%);
  }
  
}

.dark {
  .policy {
    background-color: hsl(270, 10%, 20%);
    color: $white;
  }
}

.policy { 
  margin: 0 4%;
  min-height: 100vh;
  overflow: hidden;

  &__container {
    position: relative;
    margin: 0 auto;
    text-align: start;
    height: 100%;
  }

  &__title {
    margin-top: 5.56em;
    text-align: center;
    @include changing-font(40, 30);
    line-height: 2.25rem;
    letter-spacing: 1px;
    font-family: 'Roboto Flex';
    font-stretch: 100%;
    font-weight: 230;
  }

  &__end {
    margin-bottom: 5.5em;
  }

  &__paragraph {
    @include changing-font(24, 19);
    line-height: 1.3333333;
    margin-top: 3em;
  }

  &__subtitle {
    @include changing-font(20, 16);
    margin-top: 1.5em;
  }

  &__subparagraph {
    @include changing-font(20, 16);
    line-height: calc(1.3em + .2vw);
    margin-top: 1.5em;
  }

  &__nestedList {
    @include changing-font(20, 16);
    line-height: calc(1.3em + .2vw);
    margin-top: 1.5em;
  }

  &__clause {
    @include changing-font(20, 16);
    line-height: calc(1.3em + .2vw);
    margin-top: 1.5em;
  }
}