@use '../../../scss/abstracts/variables' as *;

.light {
    .spinner {
        background-color: hsl(44, 41%, 89%);
    }

    .spinmer__color {
        fill: #1c4595;
    }
}
  
.dark {
    .spinner {
        background-color: hsl(270, 10%, 20%);
    }

    .spinmer__color {
        fill: #4bd5ff;
    }
}

.spinner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}