@use '../../scss/abstracts/variables' as *;
@import '../../scss/abstracts/mixin';

.light {
    .blog {
        background-color: hsl(44, 41%, 89%);
        &__container {
    
        }
    }

    .article {
        background-color: hsl(44, 41%, 89%);
        color: hsl(270, 10%, 20%);

        &:hover {
            box-shadow: 5px 5px 10px rgba(0,0,0,0.1),
            -5px -5px 10px rgba(0,0,0,0.1);
        }
        
        &__title {
            color: $pink-light;
        }
    }
}
  
.dark {
    .blog {
        background-color: hsl(270, 10%, 20%);
        &__container {
    
        }
    }

    .article {
        background-color: hsl(270, 10%, 20%);
        color: $white;

        &:hover {
            box-shadow: 5px 5px 10px rgba(0,0,0,0.25),
            -5px -5px 10px rgba(0,0,0,0.25);
        }
        &__title {
            color: $old-color-primary; 
        }
    }

}

.blog {
  min-height: 100vh;
  overflow: hidden;
    &__container {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.article {
    margin-top: 9em;
    height: 450px;
    transition: box-shadow 0.3s ease 0s;
    width: 1100px;
    // background: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__container {
        width: 560px;
        height: 360px;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        margin-right: auto;
        margin-left: auto;
    }

    &__boxes {
        display: flex;
        flex-direction: column;
    }

    &__img {
        width: 240px;
        height: 300px;
        position: relative;
    }

    &__image {
        height: 100%;
        width: 100%;
    }

    &__subject {
        position: absolute;
        bottom: 20%;
        right: 20%;
        height: 20px;
        width: 60px;
        background: #666;

    }

    &__decr {

    }

    &__title {
        margin-top: 1.7em;
        font-weight: 700;
        @include changing-font(28, 22);
        line-height: 1.3333333;
        text-shadow: 0 1px 1px rgb(0 0 0 / 50%),
    0px 2px 2px rgb(0 0 0 / 50%);
        // background-image: linear-gradient(120deg, rgb(170, 21, 21) 0%, rgb(230, 60, 46) 100%);
        // background-repeat: no-repeat;
        // background-size: 100% 0px;
        // background-position: 0px 100%;
        // transition: all 0.3s ease 0s;
    }

    &__text {
        margin-top: 1em;
        font-weight: 500;
        @include changing-font(20, 16);
        line-height: calc(1.3em + .2vw);
    }

    &__date {
        margin-top: 1em;
        font-weight: 500;
        @include changing-font(18, 14);
        line-height: calc(1.3em + .2vw);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__publish {

    }

    &__update {

    }
}


@media (max-width:1200px) {
    .article {
        width: 900px;
    }
}

@media (max-width:992px) {
    .article {
        width: 700px;
        overflow: hidden;

        &__container {
            width: 90%;
            height: 90%;
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .article {
        width: 500px;
    }
}

@media (max-width: 525px) {
    .article {
        width: 350px;
    }
}

@media (max-width: 375px) {
    .article {
        width: 300px;
    }
}
