@use '../../../scss/abstracts/variables' as *;
@import '../../../scss/abstracts/mixin';

.light {
    .footer {
        background: hsl(44, 41%, 89%);

        &__initials {
            color: $old-bg;

            &:nth-child(2)::after {
                background: hsl(270, 10%, 20%);
            }
        }
    }
}

.dark { 
    .footer {
        background: hsl(270, 10%, 20%);

        &__initials {
            color: $white;

            &:nth-child(2)::after {
                background: hsl(44, 41%, 89%);
            }
        }
    }
}

.footer {
    height: 110px;
    width: 100%;
    margin-top: 15vh;

    &__contanier {
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    }

    &__logo {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-content: center;
        gap: 15px;
    }

    &__initials {
        font-weight: 500;
        display: inline-block;
        position: relative;
        @include changing-font(20, 16);
        line-height: 1.1111111;

        
        &:nth-child(2)::after {
            content: '';
            position: absolute;
            display: block;
            top: 44%;
            left: -13%; 
            width: 6px;
            height: 6px;
            border-radius: 50%;
        }
    }

    &__social {
        width: fit-content;
        height: fit-content;
    }

    &__ul {
        display: flex;
        gap: 20px;
    }

    &__li {
        height: 35px;
        width: 35px;
    }

    &__a {
        cursor: pointer;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// @media(max-width:46.875em) {
//     .footer {
//         height: 90px;
    
//         &__logo {
//             height: 70px;
//         }
    
    
//         &__social {
//             height: 70px;
//             width: 340px;
//         }
    
//         &__ul {
//             gap: 26px;
//         }
    
//         &__li {
//             height: 33px;
//             width: 33px;
//         }
//     }
// }