@use '../../scss/abstracts/variables' as *;
@import '../../scss/abstracts/mixin';

.container {
  width: $container-width-lg;
  margin: 0 auto;
}

.subtitle {
  @include changing-font(30, 24);
  line-height: 1.1111111;
  text-align: center;
}

.title {
  @include changing-font(40, 30);
  line-height: 2.25rem;
  letter-spacing: 1px;
  text-align: center;
}

.btn {
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: $transition;
}

.light {
  .portfolio {
    background-color: hsl(44, 41%, 89%);

    &__item {
      background: $pink-2;
      border: 1px solid transparent;
    }

    &__item:hover {
      border-color: $green-light;
      background: transparent;
    }

    &__title {
      color: $accent-light;
    }
  }

  .title {
    color: $pink-light;
  }

  .subtitle {
    color: $green-light;
  }

  .btn {
    color: $old-bg;
    border: 2px solid $green-light;
  }
  
  .btn:hover {
    background: $teal-light;
    color: $old-bg;
    border: 2px solid $green-light;
  }
  
  .btn_primary {
    background: $green-light;
    color: $old-bg;
  }
}

.dark {
.portfolio {
  background-color: hsl(270, 10%, 20%);

  &__title {
    color: $white;
  }

  &__item {
    background: $old-bg-variant;
    border: 1px solid transparent;

  &:hover {
      border-color: $old-color-primary-vr;
      background: transparent;
    }
  }
}

  .title {
    color: $old-color-primary;
  }

  .subtitle {
    color: $white;
  }

  .btn {
    color: $old-color-primary;
    border: 1px solid $old-color-primary;
  }
  
  .btn:hover {
    background: $white;
    color: $old-bg; 
    border-color: transparent;
  }
  
  .btn_primary {
    background: $old-color-primary;
    color: $old-bg;
  }
}

.portfolio {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    grid-auto-columns: 1fr;
  }

  &__item {
    padding: 1.3rem;
    border-radius: 2rem;
    transition: $transition;

    h3 {
      margin: 1.2rem 0 2rem;
    }
  }

  &__item_image {
    border-radius: 1.5rem;
    overflow: hidden;
  }

  &__item_cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__title {
    @include changing-font(22, 18);
    line-height: 1.3333333;
  }
}

@media (max-width: 1024px) {
  .container {
    width: $container-width-md;
  }

  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

@media (max-width: 600px) {
  .container {
    width: $container-width-sm;
  }

  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}