@use '../../../scss/abstracts/variables' as *;
@import '../../../scss/abstracts/mixin';

.light {
    .ErrPage {
        background-color: hsl(44, 41%, 89%);
        color: hsl(270, 10%, 20%);
    }
    
}
  
.dark {
    .ErrPage {
      background-color: hsl(270, 10%, 20%);
      color: $white;
    }
}

.ErrPage {
    margin: 0 4%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__box {
        width: clamp(200px, 50%, 800px);
        height: clamp(200px, 42%, 900px);;
    }

    &__title {
        @include changing-font(40, 26);
        line-height: 2.25rem;
        letter-spacing: 1px;
        margin: min(6vh, 2.45rem) 0 1.1rem;
    }

    &__text {
        @include changing-font(20, 16);
        line-height: calc(1.3em + .2vw);
        margin: min(6vh, 2.45rem) 0 1.1rem;
    }

    &__backLink {
        @include changing-font(20, 16);
        line-height: calc(1.3em + .2vw);
        margin: min(6vh, 2.45rem) 0 1.1rem;
    }
}