@use '../../../scss/abstracts/variables' as *;
@import '../../../scss/abstracts/mixin';

.container {
  width: $container-width-lg;
  margin: 0 auto;
}

.subtitle {
  @include changing-font(30, 24);
  line-height: 1.1111111;
  text-align: center;
}

.title {
  @include changing-font(40, 20);
  line-height: 2.25rem;
  letter-spacing: 1px;
  text-align: center;
}

.light {
  .background {
    background-color: hsl(44, 41%, 89%);
  }

  .title {
    color: $pink-light;
  }

  .subtitle {
    color: $green-light;
  }

  .exp {
    background: $pink-9;
    border: 1px solid $old-color-primary; 

    &:hover {
      background: transparent;
      border-radius: $green-light;
    }

    &__head {
      background: $pink-2;
      box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);

      h3 {
        color: $old-bg;
      }
    }

    &__list_icon {
      color: $teal-dark;
    }

    &__list p {
      color: $old-bg;
    }
  }
}

.dark {
  .background {
    background-color: hsl(270, 10%, 20%);
  }

  .title {
    color: $old-color-primary;
  }

  .subtitle {
    color: $white;
  }

  .exp {
    background: $old-bg-variant;
    border: 1px solid $old-color-primary;

    &:hover {
      background: transparent;
      border-radius: $old-color-primary-vr;
    }

    &__head {
      background: $old-color-primary;
      box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    
      h3 {
        color: $old-bg;
      }
    }

    &__list_icon {
      color: $old-color-primary;
    }

    &__list p {
      color: $white;
    }
  }
}





.exp {
  border-radius: 0 0 2rem 2rem;
  height: fit-content;
  transition: $transition;

  &:hover {
    cursor: default;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .75rem;
  }

  &__head {
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;

    h3 {
      @include changing-font(21, 15);
      line-height: 1.3333333;
      text-align: center;
    }
  }

  &__articles {
    grid-column: 3 / 10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  &__list {
    padding: 2rem; 

    li {
      display: flex;
      gap: 1rem;
      margin-bottom: 0.8rem;
    }

    p {
      @include changing-font(18, 14);
    }
  }

  &__list_icon {
    margin-top: 2px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: $container-width-md;
  }

  .exp {
    height: auto;

    &__container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }
}

@media (max-width: 600px) {
  .container {
    width: $container-width-sm;
  }

  .exp__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}