@use '../../scss/abstracts/variables' as *;

.light {
  .background {
    background-color: hsl(44, 41%, 89%);
  }

  .title {
    color: $pink-light;
  }

  .subtitle {
    color: $green-light;
  }

  .exp {
    background: $pink-9;
    border: 1px solid $old-color-primary; 
  }
  
  .exp:hover {
    background: transparent;
    border-radius: $green-light;
  }
  
  .exp__head {
    background: $pink-2;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .exp__head h3 {
    color: $old-bg;
  }
  
  .exp__list_icon {
    color: $white;
  }
}

.dark {
  .background {
    background-color: hsl(270, 10%, 20%);
  }

  .title {
    color: $old-color-primary;
  }

  .subtitle {
    color: $white;
  }

  .exp {
    background: $old-bg-variant;
    border: 1px solid $old-color-primary;
  }
  
  .exp:hover {
    background: transparent;
    border-radius: $old-color-primary-vr;
  }
  
  .exp__head {
    background: $old-color-primary;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  
  .exp__head h3 {
    color: $old-bg;
  }
  
  .exp__list_icon {
    color: $old-color-primary;
  }
}


.subtitle {
  font-size: 1.3rem;
  text-align: center;
}

.title {
  font-size: 2.4rem;
  text-align: center;
}

.exp__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: .75rem;
}

.exp__articles {
  grid-column: 3 / 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}


.exp {
  border-radius: 0 0 2rem 2rem;
  height: fit-content;
  transition: $transition;
}

.exp:hover {
  cursor: default;
}

.exp__head {
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
}

.exp__head h3 {
  font-size: 1rem;
  text-align: center;
}

.exp__list {
  padding: 2rem;
}

.exp__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.exp__list_icon {
  margin-top: 2px;
}

.exp__list p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  .exp__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .exp {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .exp__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}