@use '../../scss/abstracts/variables' as *;

.container {
  width: 75%;
  margin: 0 auto;
}

.light {
  main {
    background-color: hsl(44, 41%, 89%);
  }

  .policy {
      background-color: hsl(44, 41%, 89%);
      color: hsl(270, 10%, 20%);
  }
  
}

.dark {
  main {
    background-color: hsl(270, 10%, 20%);
  }
  
  .policy {
    background-color: hsl(270, 10%, 20%);
    color: $white;
  }
}


.policy { 
  margin: 0 4%;
  min-height: 100vh;
  overflow: hidden;

  &__container {
    position: relative;
    margin: 0 auto;
    text-align: start;
    height: 100%;
  }

  &__title {
    margin-top: 5.5em;
    text-align: center;
    font-size: clamp(2em, 3vh, 3em);
  }

  &__end {
    margin-bottom: 5.5em;
  }

  &__paragraph {
    margin-top: 3em;
  }

  &__subtitle {
    margin-top: 1.5em;
  }

  &__subparagraph {
    margin-top: 1.5em;
  }

  &__nestedList {
    margin-top: 1.5em;
  }

  &__clause {
    margin-top: 1.5em;
  }
}