@use './abstracts/variables' as *;

@import './base/reset';
@import './fonts/variable';
@import './fonts/static';


@supports (font-variation-settings: normal) {
  main {
    font-family: 'Roboto Flex';
    font-weight: 540;
    font-stretch: 95%;
  }
}



.light {
  background-color: hsl(44, 41%, 89%);

  a:hover {
    color: $pink-light;
  }

  a {
    color: $pink-light ;
    transition: $transition;
  }
}



.dark {
  background-color: hsl(270, 10%, 20%);

  a:hover {
    color: #fff;
  }

  a {
    color: #4bd5ff;
    transition: $transition;
  }
}

section {
  margin-top: 8rem;
}

section > h2 {
  margin-bottom: 3rem;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

body {
  scroll-behavior:smooth;
}

.container {
  width: $container-width-lg;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: $container-width-md;
  }
  section {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: $container-width-sm;
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}