@use '../../../scss/abstracts/variables' as *;
@import '../../../scss/abstracts/mixin';


.subtitle {
  @include changing-font(30, 24);
  line-height: 1.1111111;
  text-align: center;
}

.title {
  @include changing-font(40, 30);
  line-height: 2.25rem;
  letter-spacing: 1px;
  padding-bottom: 3%;
}

.btn {
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: $transition;
}

.light {
  .background {
    background-color: hsl(44, 41%, 89%);
  }

  .title {
    color: $pink-light;
  }

  .subtitle {
    color: $green-light;
  }

  .btn {
    color: $old-color-primary;
    border: 1px solid $old-color-primary;
  }
  
  .btn:hover {
    background: $white;
    color: $old-bg;
    border-color: transparent;
  }
  
  .btn_primary {
    background: $pink-7;
    color: $old-bg;
  }

  .about__me_image::after {
    background-color: $pink-9;
  }
}

.dark {
  .background {
    background-color: hsl(270, 10%, 20%);
  }

  .title {
    color: $old-color-primary;
  }

  .subtitle {
    color: $white;
  }

  .btn {
    color: $old-color-primary;
    border: 1px solid $old-color-primary;
  }
  
  .btn:hover {
    background: $white;
    color: $old-bg;
    border-color: transparent;
  }
  
  .btn_primary {
    background: $old-color-primary;
    color: $old-bg;
  }

  .about__text {
    color: $white;
  }

  .about__text {
    color: $white;
  }

  .about__me_image::after {
    background-color: $blue;
  }
}


.about {
  margin-top: 35vh;
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .7rem;
  }

  &__me_image {
    grid-column: 2 / 6;
    position: relative;
    max-height: 400px;
    max-width: 400px;
    border-radius: 2rem;
    padding-left: 3px;
    z-index: 2;
    transition: $transition;
    margin-bottom: 2rem;
  }

  &__me_image::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 11px;
    right: 11px;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 2rem;
    z-index: -1;
  }

  &__image {
    max-width: 100%;
    height: auto;
    z-index: 2;
    border-top-left-radius: 2rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 0rem;
  }

  &__content {
    grid-column: 7 / 12;
  }

  &__text {
    padding-bottom: 3%;
    line-height: calc(1.3em + .2vw);
    @include changing-font(18, 14);
  }
}

@media (max-width: 1300px) {
  .about {
    &__container {
      display: block;
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 100px;
    }

    &__me_image {
      width: 50%;
      margin: 2rem auto 4rem;
    }

    &__content p {
      margin: 1rem 0 1.5rem;
    }
  }
}

@media(max-width: 600px) {
  .about {
    &__container {
      padding: 0 20px;
    }

  }
}
